@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

.glow-no-bottom {
  box-shadow:
    10px 0 75px -5px rgba(117, 58, 237, 0.6),   /* Right side glow */
    -10px 0 75px -5px rgba(117, 58, 237, 0.6),  /* Left side glow */
    0 -10px 75px -5px rgba(117, 58, 237, 0.6);  /* Top side glow */
}


@layer base {
  html {
    --bg-color: #bc986a;
    --primary-color: #d7c49e;
    --secondary-color: #343148;
    --secondary-color-dark: #5c5a6c;
  }
  @import "themes/dark.css";
  @import "themes/light.css";
}
