@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

.ball {
  @apply rounded-full; /* Adjust the size as needed */
  background-image: radial-gradient(circle, rgba(141, 75, 187, 0.8) 0%, rgba(74, 36, 94, 0.6) 50%, rgba(37, 18, 47, 0.4) 100%);
  box-shadow: 0 0 30px rgba(141, 75, 187, 0.8), /* Inner glow */
               0 0 60px rgba(141, 75, 187, 0.6), /* Middle glow */
               0 0 120px rgba(141, 75, 187, 0.4); /* Outer glow */
  position: fixed;
}


@layer base {
  html {
    --bg-color: #bc986a;
    --primary-color: #d7c49e;
    --secondary-color: #343148;
    --secondary-color-dark: #5c5a6c;
  }
  @import "themes/dark.css";
  @import "themes/light.css";
}
