@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 136, 19, 55;
  --background-end-rgb: 30, 27, 75;
  --primary-color: #D7C49E;
  --secondary-color: #343148;
  --secondary-color-dark: #5c5a6c;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}